.aboutMe{
    padding-top: 100px;
    padding-left: 200px;
    padding-bottom: 20px;
    background-color: #f9ecd7;
}

.selfIntoroductionTop{
    display: flex;
    background-color: #f9ecd7;
}

.selfIntoroduction {
    padding-top: 50px;
    width: 50%;
    text-align: center;
}

.selfIntoroduction img{
    width: 25%;
}

.career{
    width: 50%;
}

.career p{
    width: 80%;
}

.selfIntoroductionBottom{
    padding:50px 50px 50px 200px;
    background-color: #f9ecd7;
}