.photograph{
    width: auto;
    background-color: #f9ecd7;
}

.explanation{
    text-align: center;
    padding:100px 0 0 0;
}

.work{
    width: auto;
    display: flex;
    padding:75px;
}

.photo{
    width: 50%;
    text-align: center;
}

.photo img{
    width: 50%;
}

.caption{
    width: 50%;
    margin: auto;
}

.contactPhoto{
    background-color: #f9ecd7;
    padding-bottom: 75px;
}

.snsRight{
    width: 50%;
    text-align: center;
    padding: 25px 0;
    background-color: white;
    margin: auto;
}

.snsRight img{
    width: 20%;
}

#snsRightInstagram{
    color: #ff6161;
}

#snsRightInstagramUrl{
    display: inline-block;
    color: #ff6161;
    text-decoration: none;
    border: #ff6161 solid 0.5px;
    padding:10px 20px;
    width: 60%;
    transition: all 1s;
}

#snsRightInstagramUrl:hover{
    background-color: #ff6161;
    color: whitesmoke;
    border: #ff6161 solid 0.5px;
}